@model IndexViewModel

<!DOCTYPE html>
	<html lang="zh">
	<head>
        <partial name="../Shared/_HeadMeta.cshtml" />
    <link rel='stylesheet' type='text/css' href='/assets/index.css' />
		<title>天狼星</title>
	</head>
	<body class="home-page">
	<div>  
        <partial name="../Shared/_Header.cshtml" />
		<main> 
	<div id="root"></div>
		</main> 
	</div>
    <script type='module' crossorigin src='/assets/index.js'></script>
	</body>
	</html>